
    body{

        background-color: LightYellow;
    }
    h1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
        sub{
        font-size: medium;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

    header{
        background-color:RosyBrown;
        padding: 10px;
        text-align: left;
    }

    nav{
        
        font-size: larger;
        background-color: Coral;
        text-align: left;
        padding: 10px;
    }
    nav a{
        
        text-decoration: none;
    }

    .left{

       
        height: 490px;
        float: left;
        background-color: Salmon;
        width: 69%;
        
    }

    .left img{
        margin-left: 15%;
        margin-right: 15%;
        margin-top:8px;
        width: 70%;
        height: 250px;  
        align-items: center;
        }

    .left p {
        text-align: center;
        font-size: x-large;
        margin-top: 1%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: bold;
        

    }
    .left li{
        margin-left:40px;
        text-align: left;
        font-size: xx-large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: bold;
    }

    aside{
        text-align:center;
        
        float: left;
        height: 490px;
        width: 30%;
        background-color: LightSalmon;
       
    }
    aside li{
        text-align:  start;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: x-large;
        color: black;
       
    }
    
    a:link {
        text-decoration: none;
        color: black;
      }
      
      a:visited {
        text-decoration: none;
        color: black;
      }
      
      a:hover {
        text-decoration: none;
        color: black;
      }
      
      a:active {
        text-decoration: none;
        color: black;
      }

    
    .left, aside{
        box-shadow: 0.40em 0.40em 0.70em black;
    }

    

     section,aside, footer {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    footer
    {
        
        clear: left;
        background-color: aquamarine;
        margin-top: 10pt;
        padding: 20px;
        /* padding: 0.25em;
        margin-top: 20px; */
    }

    .footer p{
        text-align: left;
        padding: 1em;
        font-size: xx-large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    footer img{
        width: 20px;
        height: 20px;
    }
    a{
        cursor: pointer;
       }