@media  screen and (min-width:480px) and (max-width:500px) {
    

    #Primary
    {
   float: left;
   width: 60%;
    }

    #Secondary
    {
    float: right;
    width: 40%;
    }
    #numP
    {
        font-size:      large;
        
    }
    #litem{
        font-size: large;
        text-align: left;
        margin-top: 5%;
     }
    #code{
font-size: 22px;
    }

    
    #stringimg, #searchimg, #numimg
    {
        margin-top: 30px;
        height: 160px;
        width: 70%;
    }
    
    #searchP , #strP 
    {
        margin-top: 3%;
        font-size: x-large;
    }

}
@media screen and (min-width:660px) {
    

}
