@media  screen and (min-width:480px) and (max-width:500px) {
    

    #Primary
    {
   float: left;
   width: 60%;
    }

    #Secondary
    {
    float: right;
    width: 40%;
    }
    #numtxt
    {
        font-size: large;
        text-align: center;
    }
    #litem{
        font-size: large;
        text-align: left;
     }
    #code{
font-size: 22px;
    }

    #strid{
        margin-top: 20px;
        font-size: large;
    }
    #stringimg, #searchimg
    {
        height: 160px;
    }
    
    #searchP
    {
        font-size: larger;
    }

}
@media screen and (min-width:660px) {
    

}
