@media  screen and (min-width:480px) and (max-width:500px) {
    

    #Primary
    {
   float: left;
   width: 60%;
    }
    #Secondary
    {
    float: right;
    width: 40%;
    }
    #numP
    {
        font-size:large;   
    }
    #litem{
        font-size: large;
        text-align: left;
     }
    #code{
    font-size: 22px;
    }
    #stringimg, #searchimg, #numimg, #arrayimg
    {
        margin-top: 30px;
        height: 160px;
        width: 70%;
    }
    #aboutimg
    {
    height: 200px;
    width: 70%;
    margin-left: 15%;
    }
    #searchP , #strP 
    {
        margin-top: 3%;
        font-size: x-large;
    }

}
@media screen and (min-width:680px) and (max-width:800px) {
    
    #Primary
    {
   float: left;
   width: 70%;
    }
    #Secondary
    {
    float: right;
    width: 30%;
    }
   
    #aboutimg
    {
    height: 300px;
    width: 70%;
    margin-left: 15%;
    }

    #litem{
        font-size: large;
        text-align: left;
}
#numP
{
    font-size:large;   
}
}
